* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header h1{
  text-align: left;
}
/* text */

h1, h2 {
  color: white;
  text-align: center;
}
h3, h4, h5 {
  color: white;
  text-align: left;
}
p {
  color: white;
  text-align: left;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
  background-color: #030017;
  background-image: url("https://www.transparenttextures.com/patterns/light-sketch.png");
  background-attachment: fixed;
  text-align: center;
}

.container-1{
  margin: 60px auto;
}

.container-2{
  margin: 60px auto;
  padding: 30px 20vw;
}

.container-colored{
  padding: 30px 30px;
  background-color: #030017;
}

/* buttons */
.button-link {
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  margin-top: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  cursor: pointer;
}

/* photos */
.project-thumbnail{
  float: left;
  margin: 20px 20px;
}

/* icons */

.social-icon{
  margin: 20px;
  text-align: center;
}

header {
  background-color: #030017;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
section {
  padding: 16px 16px;
}

#bio-section{
  margin: auto;
  padding: auto auto;
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio-img {
  margin: auto auto;
  padding: 10px 30px;
  width: 15vw;
  border-radius: 90%;
}

#bio-section h2{
    text-align: left;
  }


#bio-section .bio-img{
  text-align: center;
  width: 60%;
}

.exhibit-section {
  background-color: #030017;
  text-align: center;
  margin: 50px auto;
}
.project-section {
  background-color: transparent;
  text-align: center;
}

.socials-section{
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center; 
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
