* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* text */
h1 {
  color: white;
}
h2 {
  color: white;
}
p {
  color: white;
  text-align: left;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
  background-color: #030017;
  background-image: url("https://www.transparenttextures.com/patterns/light-sketch.png");
  background-attachment: fixed;
}

.container-1{
  margin: 30px auto;
}

/* buttons */
.button-link {
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  cursor: pointer;
}

header {
  background-color: #030017;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
section {
  padding: 16px 16px;
}

.bio{
  margin: auto;
  padding: auto auto;
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio-img {
  padding: 10px 30px;
  width: 20vw;
  border-radius: 90%;
  float: left;
}

.exhibit-section {
  background-color: #030017;
  text-align: center;
  margin: 50px auto;
}
.project-section {
  background-color: transparent;
  text-align: center;
}

footer {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
